# Dirs:
bin
lib
lib64
share
dist
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
.idea_modules/
atlassian-ide-plugin.xml
__pycache__/
.tox/
env*/
venv/

# Files:
*.*~
pip-selfcheck.json
pyvenv.cfg
*.egg-info
*.ini
*.py[cod]
.coverage
.coverage.*
nosetests.xml
coverage.xml
nosetests-*.xml
coverage-*.xml

!tox.ini